<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="30 seconds">

    <property name="LOGS_ABSOLUTE_PATH" value="./logs" />

    <springProfile name="dev">

        <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOGS_ABSOLUTE_PATH}/test-server-dev.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOGS_ABSOLUTE_PATH}/test-server-dev.log.%d{yyyy-MM-dd}</fileNamePattern>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %magenta(%-4relative) --- [ %thread{10} ] %cyan(%logger{32}[%method:%line]) : %msg%n</pattern>
            </encoder>
        </appender>
    </springProfile>


    <springProfile name="local">

        <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %magenta(%-4relative) --- [ %thread{10} ] %cyan(%logger{32}[%method:%line]) : %msg%n</pattern>
            </encoder>
        </appender>

    </springProfile>


    <root level="info">
        <springProfile name="dev">
            <appender-ref ref="fileAppender" />
        </springProfile>
        <springProfile name="local">
            <appender-ref ref="consoleAppender" />
        </springProfile>
    </root>

</configuration>